/* 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}
/*--------------------메뉴--------------------*/
/* 새 링크 넘어갈때 페이드인아웃 적용 */
body {
  animation: fadein 0.3s ease-in-out;
  font-family: "Pretendard", sans-serif;
}
@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.header__menu-list {
  display: flex;
  width: 1040px;
  margin: 20px auto 0 auto;
  padding: 0;
  gap: 30px;
  padding: 0 75px;
}
.header__menu-item {
  flex: 1;
}
.header__menu-link {
  display: block;
  padding: 18px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px 15px 0 0;
  transition: all 0.3s ease;
  position: relative;
}
/* 메뉴 호버 */
.header__menu-link:hover {
  filter: brightness(0.9);
  color: #ff8753 !important;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/*메뉴 클릭 시*/
.header__menu-link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 4px;
  background-color: #1b3022;
  transform: translateX(-50%);
  border-radius: 2px 2px 0 0;
}
/* 이력서 */
.header__menu-item:nth-child(1) .header__menu-link {
  background-color: #f9f9f9;
  color: #333;
}
/* 자기소개 */
.header__menu-item:nth-child(2) .header__menu-link {
  background-color: #e7e3dd;
  color: #333;
}
/* 프로젝트 */
.header__menu-item:nth-child(3) .header__menu-link {
  background-color: #cac5b1;
  color: #333;
}
/* hobby */
.header__menu-item:nth-child(4) .header__menu-link {
  background-color: #9c9888;
  color: #333;
}
/*--------------------1page--------------------*/
/* bg */
.profile-card {
  width: 1040px;
  margin: 0 auto 50px auto;
  background-color: #f9f9f9;
  display: flex;
  padding: 50px 60px 85px 30px;
  gap: 44px;
  border-radius: 5px;
}
.profile-card__left {
  width: 306px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.profile-card__right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/*왼쪽*/
/*사진*/
.profile-card__photo-box {
  width: 306px;
  height: 405px;
  overflow: hidden;
  border-radius: 8px;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  cursor: default;
}
/* 호버 */
.profile-card__photo-box:hover {
  transform: scale(0.96);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.profile-card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 인포 타이틀 */
.profile-info {
  margin-top: 100px;
}
.profile-info__title {
  font-size: 40px;
  color: #1b3022;
  text-align: right;
  font-weight: bold;
}
.profile-info__title-box {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 43px;
}
/* 이름 */
.profile-info__user-box {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 9px;
  padding-top: 43px;
  margin-bottom: 130px;
}
.profile-info__name {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.profile-info__job {
  font-size: 18px;
  color: #000;
}
.profile-info__birth {
  font-size: 18px;
  color: #000;
}
/* info list */
.profile-info-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.profile-info__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}
.profile-info__label-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.profile-info__label {
  font-size: 18px;
  font-weight: bold;
  color: #1b3022;
}
/* 링크 호버 */
.profile-info__maillink,
.profile-info__tel,
.profile-info__gitlink,
.profile-info__storelink,
.profile-info__notionlink {
  font-size: 16px;
  color: #000;
  text-align: right;
  transition: color 0.2s;
  word-break: break-all;
}
.profile-info__item a:hover,
.profile-info__tel:hover {
  color: #ff8753;
  text-decoration: underline;
  cursor: pointer;
}
/*오른쪽*/
/* 프로필 */
.profile-intro {
  margin-top: 135px;
  margin-bottom: 422px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
}
/* 호버 */
.profile-intro:hover {
  background-color: #fdfdfd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.profile-intro__title,
.profile-skills__title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1b3022;
}
.profile-intro__description {
  font-size: 18px;
  color: #000;
}
/* skills */
.profile-skills {
  margin-bottom: 60px;
}
.profile-skills__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-skills__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-skills__label-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  flex-shrink: 0;
}
.profile-skills__icon {
  display: flex;
  align-items: center;
}
.profile-skills__name {
  font-size: 18px;
}
/* skills__stick-bar */
.profile-skills__stick-box {
  flex: 1;
  height: 18px;
  background-color: #cac5b1;
  border-radius: 10px;
  margin: 0 20px;
}
.profile-skills__stick-bar {
  height: 100%;
  border-radius: 10px;
  /*스틱바 시작부분*/
  width: 0%;
}
/*애니메이션 추가 */
.profile-skills__stick-bar--html {
  background-color: #254c34;
  animation: fill-html 3s ease-out forwards;
}
.profile-skills__stick-bar--css {
  background-color: #4a7c59;
  animation: fill-css 3s ease-out forwards;
}
.profile-skills__stick-bar--git {
  background-color: #9cb380;
  animation: fill-git 3s ease-out forwards;
}
/* 들어갈 애니메이션 키 프레임 텐션 주는거 */
@keyframes fill-html {
  to {
    width: 85%;
  }
}
@keyframes fill-css {
  to {
    width: 90%;
  }
}
@keyframes fill-git {
  to {
    width: 80%;
  }
}
.profile-skills__percent {
  font-size: 18px;
  color: #000;
  width: 45px;
  text-align: right;
  flex-shrink: 0;
}
/* skills detail */
.skills-detail__list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.skills-detail__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
}
/* 호버 */
.skills-detail__item:hover {
  background-color: #fdfdfd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.skills-detail__title {
  font-size: 26px;
  color: #1b3022;
  font-weight: bold;
}
.skills-detail__content {
  font-size: 18px;
  color: #000;
}
/*--------------------2page--------------------*/
/*bg*/
.intro {
  width: 1040px;
  margin: 0 auto 50px auto;
  background-color: #e7e3dd;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.intro__container {
  padding: 0 30px 85px 30px;
}
/* 상단 */
.intro__hero {
  text-align: center;
  margin-top: 185px;
}
.intro__main-title {
  font-size: 40px;
  font-weight: bold;
  color: #1b3022;
}
.intro__top-streng {
  margin-top: 165px;
  margin-bottom: 160px;
}
.intro__streng-title {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}
.intro__streng-5 {
  font-size: 26px;
  font-weight: bold;
}
.intro__divider {
  color: #1b3022;
  margin: 0 5px;
}
/* CARD */
.intro__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 150px;
  width: 100%;
  align-items: start;
}
.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 40px 30px;
  width: 100%;
  min-height: 182px;
  /* 트랜지션*/
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.9, 0.1, 0.1, 0.9);
}
/* 카드 소제목 */
.intro-card__title {
  font-size: 26px;
  font-weight: bold;
  color: #1b3022;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.9, 0.1, 0.1, 0.9);
}
/*카드 본문*/
.intro-card__content {
  font-size: 18px;
  color: #000;
  text-align: justify;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: 0;
  transition: all 0.5s cubic-bezier(0.9, 0.1, 0.1, 0.9);
}
/* hover */
.intro-card:hover {
  background: linear-gradient(135deg, #fff 0%, #f4fcf7 100%);
  min-height: 320px;
  justify-content: flex-start;
  transform: scale(1.1);
  box-shadow: 0 25px 50px rgba(27, 48, 34, 0.18);
}
/* hover 소제목 */
.intro-card:hover .intro-card__title {
  color: #254c34;
  transform: translateY(-10px);
}
/* hover 본문 */
.intro-card:hover .intro-card__content {
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;
}
/*--------------------3page--------------------*/
.projects {
  width: 1040px;
  margin: 0 auto 50px auto;
  background-color: #cac5b1;
  border-radius: 5px;
}
.projects__container {
  padding: 0 70px 85px 70px;
  display: flex;
  flex-direction: column;
}
.projects__main-title {
  font-size: 40px;
  font-weight: bold;
  color: #1b3022;
  text-align: center;
  margin-top: 185px;
  margin-bottom: 215px;
}
.project-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* 왼 + 오 */
.project-item__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}
/* 왼 */
.project-item__text-side {
  max-width: 700px;
}
/* 소제목 */
.project-item__title {
  font-size: 26px;
  font-weight: bold;
  color: #1b3022;
  margin-bottom: 15px;
}
/* 설명 */
.project-item__content-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project-item__content-text {
  font-size: 18px;
  color: #000;
}
/* 오른쪽 */
.project-item__badge-side {
  flex-shrink: 0;
}
.project-item__badge-side a {
  display: inline-block;
  cursor: pointer;
}
.project-item__badge-img {
  width: 224px;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}
.project-item__badge-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
/* 웹 */
.project-item__img-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.project-item__img-list {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.project-item__img-item {
  width: 100%;
  line-height: 0;
  overflow: hidden;
  cursor: pointer;
}
.project-item__img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease;
}
.project-item__img-item:hover .project-item__img {
  transform: scale(1.05);
}
/*--------------------4page--------------------*/
.hobby {
  width: 1040px;
  margin: 0 auto 50px auto;
  background-color: #9c9888;
  border-radius: 5px;
  padding: 0 70px 85px 70px;
}
.hobby__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hobby__main-title {
  font-size: 40px;
  font-weight: bold;
  color: #1b3022;
  margin-top: 185px;
  margin-bottom: 200px;
}
.hobby__media-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  align-items: center;
}
.hobby__media-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 8px;
}
.hobby__media-text {
  font-size: 30px;
  font-weight: bold;
  color: #1b3022;
  text-align: center;
  margin-bottom: 10px;
}
.hobby__image,
.hobby__video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: block;
  transform: scale(1);
  transition: 0.4s;
}
.hobby__media-item:hover .hobby__image,
.hobby__media-item:hover .hobby__video {
  transform: scale(0.96);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.03);
}
/* ----------------------footer--------------------- */
.footer {
  width: 100%;
  height: 100px;
  background-color: #1b3022;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer__container {
  width: 1040px;
  text-align: center;
}
.footer__text {
  font-size: 16px;
  color: #c0c0c0;
}
/*1024~1040 가로스크롤 제거*/
.header__menu-list,
.profile-card,
.intro,
.projects,
.hobby,
.footer__container {
  width: 100%;
  max-width: 1040px;
}
/*768 ------------------------*/
/* 1page 모바일 반응형 */
@media (max-width: 767px) {
  body {
    background-color: #1b3022;
  }
  /*메뉴*/
  .header__container {
    position: relative;
    z-index: 1;
  }
  .header__menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    max-width: 100%;
    margin: 30px auto 0 auto;
    padding: 20px 20px;
  }
  .header__menu-item {
    width: 100%;
    display: block;
  }
  .header__menu-link {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 18px;
  }
  /*프로필 전체*/
  .profile-card {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 20px 40px 20px;
    padding: 0 20px 50px 20px;
    gap: 0;
  }
  .profile-card__left,
  .profile-card__right {
    width: 100%;
  }
  /* 사진 */
  .profile-card__photo-box {
    width: 70%;
    min-height: 200px;
    max-width: 306px;
    height: auto;
    aspect-ratio: 306 / 405;
    margin: 40px auto 0 auto;
  }
  /* 왼쪽 */
  .profile-info {
    margin-top: 100px;
  }
  /* 보더박스 지우기 */
  .profile-info__title-box {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
  }
  .profile-info__title {
    text-align: center;
    font-size: 30px;
  }
  /*개인정보*/
  .profile-info__user-box {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 0;
    text-align: center;
  }
  .profile-info-list {
    gap: 30px;
  }
  .profile-info__item {
    align-items: flex-start;
  }
  /*상세링크*/
  .profile-info__label-wrap {
    justify-content: flex-start;
  }
  .profile-info__maillink,
  .profile-info__tel,
  .profile-info__gitlink,
  .profile-info__storelink,
  .profile-info__notionlink {
    text-align: left;
  }
  /*오른쪽*/
  .profile-intro {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 18px;
  }
  /*스킬*/
  .profile-skills {
    margin-bottom: 100px;
  }
  .profile-skills__title {
    margin-bottom: 40px;
    font-size: 26px;
  }
  .profile-skills__list {
    gap: 20px;
  }
  /*li 정렬*/
  .profile-skills__item {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 20px;
    align-items: center;
  }
  /*icon*/
  .profile-skills__label-box {
    grid-column: 1 / -1;
    width: 100%;
  }
  /*게이지바*/
  .profile-skills__stick-box {
    grid-column: 1;
    margin: 0 10px 0 0;
  }
  .profile-skills__percent {
    grid-column: 2;
    width: auto;
    text-align: right;
  }
  .skills-detail__list {
    gap: 100px;
  }
  /*2page반응형*/
  /*메인*/
  .intro {
    width: auto;
    margin: 0 20px 40px 20px;
  }
  /*내부*/
  .intro__container {
    padding: 0 20px 50px 20px;
  }
  /*상단*/
  .intro__hero {
    margin-top: 60px;
  }
  .intro__main-title {
    font-size: 26px;
  }
  /*강점*/
  .intro__top-streng {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .intro__streng-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .intro__streng-5 {
    font-size: 14px;
  }
  /* 구분선 */
  .intro__divider {
    margin: 0 3px;
  }
  /* 카드1열배치*/
  .intro__grid {
    grid-template-columns: 1fr;
    row-gap: 35px;
  }
  /*카드*/
  .intro-card {
    padding: 30px 20px;
    min-height: 130px;
  }
  .intro-card__title {
    font-size: 20px;
  }
  .intro-card__content {
    font-size: 16px;
    line-height: 1.6;
  }
  /* 카드호버*/
  .intro-card:hover {
    min-height: 240px;
    transform: scale(1.02);
    box-shadow: 0 15px 35px rgba(27, 48, 34, 0.15);
  }
  /* 3page 반응형*/
  /*메인*/
  .projects {
    width: auto;
    margin: 0 20px 40px 20px;
  }
  /*내부*/
  .projects__container {
    padding: 0 20px 50px 20px;
  }
  .projects__main-title {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  /*상단 영역 정렬*/
  .project-item__info-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 40px;
  }
  /*왼쪽 박스*/
  .project-item__text-side {
    max-width: 100%;
  }
  .project-item__title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .project-item__content-list {
    gap: 20px;
  }
  .project-item__content-text {
    font-size: 18px;
    line-height: 1.6;
  }
  /*오른쪽 로고*/
  .project-item__badge-side {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .project-item__badge-img {
    width: 180px;
  }
  .project-item__badge-img:hover {
    transform: scale(1.02);
  }
  /* 웹페이지*/
  .project-item__img-list {
    width: 100%;
  }
  /*호버*/
  .project-item__img-item:hover .project-item__img {
    transform: scale(1.02);
  }
  /* 4page 반응형*/
  /*메인*/
  .hobby {
    width: auto;
    margin: 0 20px 40px 20px;
    padding: 0 20px 50px 20px;
  }
  .hobby__main-title {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  /* 미디어 끼리 간격 */
  .hobby__media-list {
    gap: 40px;
  }
  /* li */
  .hobby__media-item {
    width: 100%;
  }
  .hobby__media-text {
    font-size: 20px;
    margin-bottom: 5px;
  }
  /* 미디어 호버*/
  .hobby__media-item:hover .hobby__image,
  .hobby__media-item:hover .hobby__video {
    transform: scale(0.98);
  }
}
/* 768~ 1023 *----------------------------/
/* 1page 모바일 반응형 */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #1b3022;
  }
  /*메뉴*/
  .header__container {
    position: relative;
    z-index: 1;
  }
  .header__menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    max-width: 100%;
    margin: 40px auto 0 auto;
    padding: 20px 40px;
  }
  .header__menu-item {
    width: 100%;
    display: block;
  }
  .header__menu-link {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 20px;
  }
  /*프로필 전체*/
  .profile-card {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 40px 60px 40px;
    padding: 0 40px 70px 40px;
    gap: 0;
  }
  .profile-card__left,
  .profile-card__right {
    width: 100%;
  }
  /* 사진 */
  .profile-card__photo-box {
    width: 45%;
    min-height: 240px;
    max-width: 306px;
    height: auto;
    aspect-ratio: 306 / 405;
    margin: 50px auto 0 auto;
  }
  /* 왼쪽 */
  .profile-info {
    margin-top: 100px;
  }
  /* 보더박스 지우기 */
  .profile-info__title-box {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
  }
  .profile-info__title {
    text-align: center;
    font-size: 40px;
  }
  /*개인정보*/
  .profile-info__user-box {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 0;
    text-align: center;
  }
  .profile-info-list {
    gap: 30px;
  }
  .profile-info__item {
    align-items: flex-start;
  }
  /*상세링크*/
  .profile-info__label-wrap {
    justify-content: flex-start;
  }
  .profile-info__maillink,
  .profile-info__tel,
  .profile-info__gitlink,
  .profile-info__storelink,
  .profile-info__notionlink {
    text-align: left;
  }
  /*오른쪽*/
  .profile-intro {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 18px;
  }
  /*스킬*/
  .profile-skills {
    margin-bottom: 100px;
  }
  .profile-skills__title {
    margin-bottom: 40px;
    font-size: 26px;
  }
  .profile-skills__list {
    gap: 20px;
  }
  /*li 정렬*/
  .profile-skills__item {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 20px;
    align-items: center;
  }
  /*icon*/
  .profile-skills__label-box {
    grid-column: 1 / -1;
    width: 100%;
  }
  /*게이지바*/
  .profile-skills__stick-box {
    grid-column: 1;
    margin: 0 10px 0 0;
  }
  .profile-skills__percent {
    grid-column: 2;
    width: auto;
    text-align: right;
  }
  .skills-detail__list {
    gap: 100px;
  }
  /*2page반응형*/
  /*메인*/
  .intro {
    width: auto;
    margin: 0 40px 40px 40px;
  }
  /*내부*/
  .intro__container {
    padding: 0 40px 70px 40px;
  }
  /*상단*/
  .intro__hero {
    margin-top: 60px;
  }
  .intro__main-title {
    font-size: 34px;
  }
  /*강점*/
  .intro__top-streng {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .intro__streng-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .intro__streng-5 {
    font-size: 14px;
  }
  /* 구분선 */
  .intro__divider {
    margin: 0 3px;
  }
  /* 카드1열배치*/
  .intro__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 35px;
  }
  /*카드*/
  .intro-card {
    padding: 35px 25px;
    min-height: 140px;
  }
  .intro-card__title {
    font-size: 24px;
  }
  .intro-card__content {
    font-size: 16px;
    line-height: 1.6;
  }
  /* 카드호버*/
  .intro-card:hover {
    min-height: 240px;
    transform: scale(1.02);
    box-shadow: 0 15px 35px rgba(27, 48, 34, 0.15);
  }
  /* 3page 반응형*/
  /*메인*/
  .projects {
    width: auto;
    margin: 0 40px 60px 40px;
  }
  /*내부*/
  .projects__container {
    padding: 0 40px 70px 40px;
  }
  .projects__main-title {
    font-size: 34px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  /*상단 영역 정렬*/
  .project-item__info-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 40px;
  }
  /*왼쪽 박스*/
  .project-item__text-side {
    max-width: 100%;
  }
  .project-item__title {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .project-item__content-list {
    gap: 20px;
  }
  .project-item__content-text {
    font-size: 18px;
    line-height: 1.6;
  }
  /*오른쪽 로고*/
  .project-item__badge-side {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .project-item__badge-img {
    width: 200px;
  }
  .project-item__badge-img:hover {
    transform: scale(1.02);
  }
  /* 웹페이지*/
  .project-item__img-list {
    width: 100%;
  }
  /*호버*/
  .project-item__img-item:hover .project-item__img {
    transform: scale(1.02);
  }
  /* 4page 반응형*/
  /*메인*/
  .hobby {
    width: auto;
    margin: 0 40px 60px 40px;
    padding: 0 40px 70px 40px;
  }
  .hobby__main-title {
    font-size: 34px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  /* 미디어 끼리 간격 */
  .hobby__media-list {
    gap: 40px;
  }
  /* li */
  .hobby__media-item {
    width: 100%;
  }
  .hobby__media-text {
    font-size: 20px;
    margin-bottom: 5px;
  }
  /* 미디어 호버*/
  .hobby__media-item:hover .hobby__image,
  .hobby__media-item:hover .hobby__video {
    transform: scale(0.98);
  }
}
/* 1280 반응형 -----------------------*/
/*메뉴 */
@media (min-width: 1280px) {
  .header__menu-list {
    width: 1200px;
  }
  /*1page--------*/
  .profile-card {
    width: 1200px;
  }
  .profile-info__title {
    font-size: 40px;
  }
  .profile-info__name {
    font-size: 36px;
  }
  .profile-info__job,
  .profile-info__birth {
    font-size: 20px;
  }
  .profile-info__label {
    font-size: 20px;
  }
  .profile-info__maillink,
  .profile-info__tel,
  .profile-info__gitlink,
  .profile-info__storelink,
  .profile-info__notionlink {
    font-size: 18px;
  }
  .profile-intro__title,
  .profile-skills__title {
    font-size: 30px;
  }
  .profile-intro__description {
    font-size: 20px;
  }
  .profile-skills__name {
    font-size: 20px;
  }
  .profile-skills__percent {
    font-size: 20px;
  }
  .skills-detail__title {
    font-size: 30px;
  }
  .skills-detail__content {
    font-size: 20px;
  }
  /*2page---------------------------*/
  .intro {
    width: 1200px;
  }
  .intro__main-title {
    font-size: 46px;
  }
  .intro__streng-title {
    font-size: 30px;
  }
  .intro__streng-5 {
    font-size: 30px;
  }
  .intro-card__title {
    font-size: 30px;
  }
  .intro-card__content {
    font-size: 20px;
  }
  /*3page-------------------------*/
  .projects {
    width: 1200px;
  }
  .projects__main-title {
    font-size: 46px;
  }
  .project-item__title {
    font-size: 30px;
  }
  .project-item__content-text {
    font-size: 20px;
  }
  .project-item__img-list {
    width: 860px;
  }
  /*4page------------------------*/
  .hobby {
    width: 1200px;
  }
  .hobby__main-title {
    font-size: 46px;
  }
  .hobby__media-item {
    max-width: 1060px;
  }
  .hobby__media-text {
    font-size: 34px;
  }
  /*footer*/
  .footer__container {
    width: 1200px;
  }
  .footer__text {
    font-size: 18px;
  }
}
