/* 메뉴 */
.header__menu-list {
  display: flex;
  width: 1040px;
  margin: 20px auto 0 auto;
  padding: 0;
  gap: 30px;
  padding: 0 75px;
}
.header__menu-item {
  flex: 1;
  margin-bottom: 0;
}
.header__menu-link {
  display: block;
  padding: 18px 0;
  text-align: center;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
}
/* 이력서 */
.header__menu-item:nth-child(1) .header__menu-link {
  background-color: #f9f9f9;
  color: #333;
}
/* 자기소개 */
.header__menu-item:nth-child(2) .header__menu-link {
  background-color: #e7e3dd;
  color: #333;
}
/* 프로젝트 */
.header__menu-item:nth-child(3) .header__menu-link {
  background-color: #cac5b1;
  color: #333;
}
/* hobby */
.header__menu-item:nth-child(4) .header__menu-link {
  background-color: #9c9888;
  color: #333;
}

/* bg */
.profile-card,
.intro {
  width: 1040px;
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  padding: 50px 30px;
  gap: 44px;
}
.profile-card__left {
  width: 336px;
  flex-shrink: 0;
}
.profile-card__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 100px; /* 오른쪽 수직 갭 */
}
/* skills__stick-bar*/
.profile-skills__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
